-- Add missing columns to purchase_orders table
ALTER TABLE purchase_orders 
ADD COLUMN IF NOT EXISTS igst decimal(10,2) DEFAULT 0 AFTER sgst,
ADD COLUMN IF NOT EXISTS freight decimal(10,2) DEFAULT 0 AFTER total,
ADD COLUMN IF NOT EXISTS total_in_words varchar(500) DEFAULT '' AFTER freight,
ADD COLUMN IF NOT EXISTS delivery_time varchar(100) DEFAULT '1 to 2 Weeks (Immediate)' AFTER total_in_words,
ADD COLUMN IF NOT EXISTS required_docs varchar(200) DEFAULT 'Test Certificate' AFTER delivery_time,
ADD COLUMN IF NOT EXISTS po_validity varchar(100) DEFAULT '4 Month' AFTER required_docs,
ADD COLUMN IF NOT EXISTS gstin varchar(20) DEFAULT '27AKUPY6544R1ZM' AFTER po_validity,
ADD COLUMN IF NOT EXISTS udyam varchar(50) DEFAULT 'UDYAM-MH-20-0114278' AFTER gstin,
ADD COLUMN IF NOT EXISTS status varchar(20) DEFAULT 'Draft' AFTER udyam,
ADD COLUMN IF NOT EXISTS company_name varchar(100) DEFAULT 'MERAKI EXPERT' AFTER status,
ADD COLUMN IF NOT EXISTS company_email varchar(100) DEFAULT 'merakiexpert@gmail.com' AFTER company_name,
ADD COLUMN IF NOT EXISTS company_phone varchar(50) DEFAULT '+91-8793484326 / +91-9130801011' AFTER company_email,
ADD COLUMN IF NOT EXISTS company_website varchar(100) DEFAULT 'www.merakkiexpert.in' AFTER company_phone,
ADD COLUMN IF NOT EXISTS signature_url varchar(255) DEFAULT 'https://example.com/signature.png' AFTER company_website;

-- Add missing columns to purchase_order_items table
ALTER TABLE purchase_order_items
ADD COLUMN IF NOT EXISTS hsn_code varchar(20) DEFAULT '' AFTER item_name,
ADD COLUMN IF NOT EXISTS mou varchar(20) DEFAULT 'Box' AFTER hsn_code;
